/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Open Sans', sans-serif;
    max-width: 1920px;
    font-size: 18px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container-large{
    width: 80%;
    margin: auto;
}

/* Typo */

h1{
    font-size: 85px;
    font-weight: 800;
}


/* Buttons */
.btn{
    padding: 8px 20px;
}

.blue-btn{
    color: #fff;
    background-color: #0061ff;
}

/* Header */

.menu{
    height: 85px;
    width: 100%;
    padding: 0 20px;
    line-height: 85px;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.logo img{
    vertical-align: middle;
}

/* Navigation */
header nav{
    margin: 0 45px;
    width: 35%;
}

header a{
    text-decoration: none;
    color: #000;

}

header nav li{
    display: inline-block;
    padding: 0 25px;
}

.nav-left{
    text-align: left;
}

.nav-right{
    text-align: right;
}



.start{
    line-height: normal;
}

/* Hero */
.hero{
    padding-top: 85px;
    background-color: #b4d0e7;
    height: 900px;
}

.hero h1{
    padding-top: 100px;
}

.hero-content{
    padding-top: 60px;
}

.hero-info{
    width: 30%;
}

.hero-info > p{
    margin-bottom: 30px;
}

.hero-info p:nth-child(3){
    margin-top: 25px;
}

.hero-info i{
    font-size: 35px;
}

.hero-image{
    width: 60%;
}

.hero-image img{
    width: 100%;
    object-fit: contain;
}
