/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Open Sans', sans-serif;
    max-width: 1900px;
    font-size: 18px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container-large{
    width: 80%;
    margin: auto;
}

.container-small{
    width: 67%;
    margin: auto;
}

/* Typo */

h1{
    font-size: 85px;
    font-weight: 800;
}

h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
}

h3{
    font-size: 40px;
    margin-bottom: 35px;
}

h4{
    font-size: 30px;
    margin-bottom: 25px;
}

h5{
    font-size: 20px;
    margin-bottom: 18px;
}


/* Buttons */
.btn-small{
    padding: 8px 20px;
}

.btn-medium{
    padding: 8px 60px;
}

.btn-large{
    padding: 8px 75px;
}

.blue-btn{
    color: #fff;
    background-color: #0061ff;
}

.white-btn{
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
}

a.btn-small, a.btn-medium, a.btn-large{
    text-decoration: none;
}

/* Header */

.menu{
    height: 85px;
    max-width: 1900px;
    padding: 0 20px;
    line-height: 85px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    z-index: 10;
}

.logo img{
    vertical-align: middle;
}

/* Navigation */

header nav{
    margin: 0 45px;
}

header a{
    text-decoration: none;
    color: #000;
    padding: 20px 25px;

}

header nav, .menu div, header nav li{
    display: inline-block;
}

.float-left.col-50{
    text-align: left;
}

.float-right.col-50{
    text-align: right;
}

.col-50{
    width:50%
}


/* Hero */

.hero{
    padding-top: 85px;
    background-color: #b4d0e7;
}

.hero h1{
    padding-top: 100px;
}

.hero-content{
    position: relative;
    bottom: -100px;
}

.hero-info{
    width: 30%;
}

.hero-info > p{
    margin-bottom: 30px;
}

.hero-info p:nth-child(3){
    margin-top: 25px;
}

.hero-info i{
    font-size: 35px;
}

.hero-image{
    width: 60%;
}

.hero-image img{
    width: 100%;
    object-fit: contain;
}

/* Main */

main{
    margin-top: 150px;
}

/* Section Plans */

.plans{
    padding-top: 80px   ;
}

.plans label{
    margin-right: 30px;
}

.column{
    height: 1200px;
    width: calc((100% - 80px) / 3);
    text-align: center;

}

.plan-details{
    margin-top: 40px;
    border: 1px solid #d0d0d3;
    padding: 15px 0;
}

.plan-box{
    border-bottom: 1px solid #d0d0d3;
    padding-bottom: 15px;
    width: 100%;
    display: block;
}


.plan-info .plan-details:nth-child(2){
    margin-right: 40px;
    margin-left: 40px;
}

.plan-offer{
    padding: 35px 30px 0 30px;
    text-align: left;
}

.cost, .bill-period{
    display: block;
}

.bill-period{
    color: #697986;
    font-size: 0.8em;
    margin-bottom: 40px;
}

.center-btn, .buy-now{
    margin-bottom: 30px;
}

.cost{
    margin-bottom: 20px;
    font-weight: 700;
}

.bill-period{
    margin-bottom: 70px;
}

.center-btn{
    text-align: center;
}


.plan-info hr{
    width: 20%;
    border: 1px solids #d0d0d3;
}

.plan-features{
    margin-top: 45px;
}

.plan-details.full-page{
    text-align: center;
}

.full-page .bill-period{
    margin-bottom: 20px;
}

.full-page a{
    margin: 40px 30px 0 0 ;
}



/* List */

.plan-info ul li:last-child{
    margin-bottom: 50px;
}

.plan-info li{
    margin-bottom: 30px;
}

.fa-ul{
    margin-left: 1.5em;
}

.plan-features ul{
    font-size: 16px;
}

.plan-features .fa-li{
    color: #0061ff;
}

/* Partner section */

.partner{
    margin-top: 200px;
}

.partner-image{
    width: 55%;
}

.partner-image img{
    width: 100%;
    object-fit: contain;
}

.partner-info{
    width: 40%;
    padding-top: 45px;
}

.partner-info p{
    line-height: 1.8em;
    margin-bottom: 35px;
}


/* Operation section */

.operation{
    margin-top: 150px;
}

.operation .row{
    margin-bottom: 90px;
}

.col-op{
    width: calc((100% - 150px) / 3);
}

.operation .row .col-op:nth-child(2){
    margin: 0 75px 0 75px;
}

.col-op img{
    width: 100%;
}

.col-op h4{
    margin: 30px 0;
}

/* Clients section */

.clients{
    margin-top: 200px;
}

.clients h2{
    margin-bottom: 30px;
}

.clients .link-client{
    color: #0061ff
}

.clients-logo{
    margin-top: 40px;
    height: 576px;
    background-color: #f5f5f5;
}

.clients .side{
    width: 30%;
}

.clients .center{
    padding: 60px;
    width: 40%;
}

.square{
    width:50%;
    padding-top: 50%; 
    position: relative; 
    display: inline-block;
}

.square img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.center img{
    object-fit: contain;
    height: 30%;
    width: 25%;
    margin-bottom: 45px;
}

.center hr{
    width: 10%;
    border: 1px solid #d0d0d3;
} 

.center p{
    margin-top: 60px;
}

/* Logo backgrounds */
.back-lightgreen{
    background-color: #a2d39b;
}

.back-bordeaux{
    background-color: #61082b;
}

.back-azure{
    background-color: #0093ce;
}

.back-red{
    background-color: #ff1c1c;
}

.back-darkred{
    background-color: #d5001f;
}

.back-lightblue{
    background-color: #b4d0e7;
} 

.back-blue{
    background-color: #0d2481;
}

.back-yellow{
    background-color: #ffd830;
}

/* free try*/

.free-try{
    padding: 140px 0 110px 0;
    background-color: #b4d0e7;
}

.free-try .container-small{
    position: relative;
}

.free-try h2{
    width: 50%;
    color: #61082b;
}
.free-try a{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}

/* FAQ */

.faq{
    margin: 150px 0 130px 0;
}

.faq ul{
    list-style: none;

}

.faq li{
    position: relative;
    padding: 35px 0;
    border-bottom: 1px solid #d0d0d3;
    font-weight: 600;
}

.faq li:first-of-type{
    border-top: 1px solid #d0d0d3;
}

.faq i{
    position: absolute;
    right: 30px;
}

/* Footer */
footer{
    background-color: #000;
    padding-bottom: 55px;
    font-size: 16px;
}

.footer-top{
    color: #fff;
    padding-top: 100px;
}

.footer-top h5{
    font-size: 24px;
    margin-bottom: 22px;
    font-weight: 800;
}

.footer-top ul{
    list-style: none;
    line-height: 2.2em;
    font-weight: 600;
    margin-bottom: 140px;
}

.col-footer{
    width: 20%
}

.footer-bottom{
    color: #666666;
}

.footer-bottom .fa-globe-americas{
    color: #999999;
}

.footer-bottom span{
    padding: 55px 55px 0 0;
    border-top: 1px solid #bfbfbf;

}

